{% extends "layout.html" %}


    {% block content %}
    <section class="container-fluid events-section">

        <!-- ONGOING -->
        <h2>Ongoing Events</h2>

        <div class="scroll-row">

            <div class="event-card">
                <img src="images/children1.jpg">
                <span class="ministry-tag">Children Ministry</span>
                <h6>Sunday Bible Class</h6>
                <p>Every Sunday • 8:00 AM</p>
            </div>

            <div class="event-card">
                <img src="images/youth1.jpg">
                <span class="ministry-tag">Youth Ministry</span>
                <h6>Youth Revival Hour</h6>
                <p>Fridays • 5:00 PM</p>
            </div>

            <div class="event-card">
                <img src="images/campus1.jpg">
                <span class="ministry-tag">Campus Ministry</span>
                <h6>Campus Fellowship</h6>
                <p>Midweek Gathering</p>
            </div>

        </div>

        <!-- UPCOMING -->
        <h2 class="mt-5">Upcoming Events</h2>

        <div class="scroll-row">

            <div class="event-card">
                <img src="images/youngadult1.jpg">
                <span class="ministry-tag">Young Adult Ministry</span>
                <h6>Leadership & Purpose</h6>
                <p>March 12 • 4:00 PM</p>
            </div>

            <div class="event-card">
                <img src="images/women1.jpg">
                <span class="ministry-tag">Women Ministry</span>
                <h6>Women Prayer Conference</h6>
                <p>April 5 • 9:00 AM</p>
            </div>

        </div>

        <!-- CONCLUDED -->
        <h2 class="mt-5">Concluded Events</h2>

        <div class="scroll-row">

            <div class="event-card">
                <img src="images/event1.jpg">
                <span class="ministry-tag">Youth Ministry</span>
                <h6>Christmas Program 2025</h6>
                <p>Completed</p>
            </div>

            <div class="event-card">
                <img src="images/event2.jpg">
                <span class="ministry-tag">Women Ministry</span>
                <h6>Annual Thanksgiving</h6>
                <p>Completed</p>
            </div>

        </div>

    </section>

    {% endblock %}