{% extends "layout.html" %}

{% block content %}
<section class="container-fluid events-section">

    <!-- ONGOING EVENTS -->
    <h2>Ongoing Events</h2>
    <div class="scroll-row">
        {% if ongoing_events %}
            {% for event in ongoing_events %}
            <div class="event-card position-relative">
                <img src="{{ event|first_image }}" alt="{{ event.title }}">
                <span class="ministry-flag rounded-5">{{ event.ministry }}</span>
                <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn btn-sm btn-primary mt-2 rounded-5">View More Details</a>
                <h6 class="text-col fw-bold">{{ event.title }}</h6>
                <p class="text-dark">
                    <i class="bi bi-geo-alt-fill text-col"></i>{{ event.venue }} &nbsp; | &nbsp;
                </p>
                <p class="text-dark">
                    <i class="bi bi-calendar-event text-col"></i>
                    {{ event.time.strftime('%d %B %Y') }}
                    &nbsp; | &nbsp;
                    <i class="bi bi-clock text-col"></i>
                    {{ event.time.strftime('%I:%M %p') }}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <h4 class="my-3">No Ongoing Events At The Moment...</h4>
        {% endif %}
    </div>

    <!-- UPCOMING EVENTS -->
    <h2 class="mt-5">Upcoming Events</h2>
    <div class="scroll-row">
        {% if upcoming_events %}
            {% for event in upcoming_events %}
            <div class="event-card position-relative">
                <img src="{{ event|first_image }}" alt="{{ event.title }}">
                <span class="ministry-flag rounded-5">{{ event.ministry }}</span>
                <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn btn-sm btn-primary mt-2 rounded-5">View More Details</a>
                <h6 class="text-col fw-bold">{{ event.title }}</h6>
                <p class="text-dark">
                    <i class="bi bi-geo-alt-fill text-col"></i>{{ event.venue }} &nbsp; | &nbsp;
                </p>
                <p class="text-dark">
                    <i class="bi bi-calendar-event text-col"></i>
                    {{ event.time.strftime('%d %B %Y') }}
                    &nbsp; | &nbsp;
                    <i class="bi bi-clock text-col"></i>
                    {{ event.time.strftime('%I:%M %p') }}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <h4 class="my-3">No Upcoming Events At The Moment...</h4>
        {% endif %}
    </div>

    <!-- CONCLUDED EVENTS -->
    <h2 class="mt-5">Concluded Events</h2>
    <div class="scroll-row">
        {% if concluded_events %}
            {% for event in concluded_events %}
            <div class="event-card position-relative">
                <img src="{{ event|first_image }}" alt="{{ event.title }}">
                <span class="ministry-flag rounded-5">{{ event.ministry }}</span>
                <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn btn-sm btn-primary mt-2 rounded-5">View More Details</a>
                <h6 class="text-col fw-bold">{{ event.title }}</h6>
                <p class="text-dark">
                    <i class="bi bi-geo-alt-fill text-col"></i>{{ event.venue }} &nbsp; | &nbsp;
                </p>
                <p class="text-dark">
                    <i class="bi bi-calendar-event text-col"></i>
                    {{ event.time.strftime('%d %B %Y') }}
                    &nbsp; | &nbsp;
                    <i class="bi bi-clock text-col"></i>
                    {{ event.time.strftime('%I:%M %p') }}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <h4 class="my-3">No Concluded Events At The Moment...</h4>
        {% endif %}
    </div>

</section>
{% endblock %} 