{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="py-2"><a href="#" class="name-logo text-decoration-none">Mighty God</a></h1>
        <div class="d-flex justify-content-center justify-content-md-end row">
            <div class="col-md-5">
                <form method="POST" action="{{ url_for('admin_login') }}" class="sign-details rounded-5 bg-white py-4 px-4 shadow">
                {{ form.hidden_tag() }}

                    <div>
                        <h1 class="mb-0 pb-0 h-color fw-bold">Welcome Back</h1>
                        <small class="s-style mb-4 d-block">Login to your account</small>

                        <div class="my-3">
                            {{ form.email.label(class="form-lab") }}
                            {{ form.email(class="form-control form-sty" + (" is-invalid" if form.email.errors else ""), placeholder="Input your email") }}
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="my-2">
                            {{ form.password.label(class="form-lab") }}
                            {{ form.password(class="form-control form-sty" + (" is-invalid" if form.password.errors else ""), placeholder="Enter your password") }}
                            {% for error in form.password.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mt-4">
                            {{ form.submit(class="btn btn-custom col-12 py-2 fw-bold") }}
                        </div>
                    </div>

                    <div class="pt-4 text-center">
                        <p><a href="{{ url_for('reset_request') }}" class="a-style text-decoration-none">Forgot Password?</a></p>
                    </div>
                </form>
            </div>
        </div>

        <div class="pagination-dots">
            <span class="dot active change-bg" data-img="url('{{ url_for('static', filename='images/s1.jpg') }}')"></span>
            <span class="dot change-bg" data-img="url('{{ url_for('static', filename='images/s2.jpg') }}')"></span>
            <span class="dot change-bg" data-img="url('{{ url_for('static', filename='images/s3.png') }}')"></span>
        </div>

    </div>
    {% endblock %}
